header {
    width: 98%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    height: 35px;
    width: 35px;
}

.header-right {
    margin-right: 20px;
}

.header-left h2 {
    font-size: x-large;
    margin: 0;
}

.header-right a{
    margin-left: 20px;
    text-decoration: none;
    font-size: large;
    color: #333333;
    font-weight: 500;
}

.header-right a:hover {
    color: #007bff;
}

.header-right .other-buttons {
    margin-left: 20px;
    font-size: large;
    padding: 6px 12px;
    border: none;
    background-color: transparent;
    color: #333333;
    border-radius: 4px;
}

.header-right .other-buttons:hover {
    background-color: #f0f0f0;
}

.header-right button {
    margin-left: 20px;
    font-size: large;
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #0056b3;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header-title {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 40px;
        background: white;
        flex-direction: column;
        width: 200px;
        padding: 15px 15px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a,
    .nav-links button {
        margin: 10px 20px;
        width: 100%;
        text-align: left;
    }

    .header-right {
        position: relative;
    }

    .header-right .other-buttons {
        margin-left: 0px;
        margin-bottom: 3px;
    }
}
