header {
    width: 98%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 30px;
}

.header-left h2 {
    font-size: x-large;
    margin: 0;
}

.header-right a{
    margin-left: 20px;
    text-decoration: none;
    font-size: large;
    color: #333333;
    font-weight: 500;
}

.header-right a:hover {
    color: #007bff;
}