.login-container {
    background-image: url("/student.avif");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: #ffffff;
    padding: 40px;
    width: 500px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-card h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333333;
}
.login-card p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #41414194;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}